@import '../../../common/styles/mixins';

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);

  .icon {
    transform: rotate(45deg);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;
    margin-bottom: 30px;

    background-color: var(--background-secondary);

    svg {
      transform: rotate(-45deg);
      height: 50px;
    }
  }

  .skillTitle {
    @include text($fontFamily: var(--font-family-primary), $fontWeight: 700, $Fmax: 20, $Fmin: 16);

    letter-spacing: 0.05em;
  }
}
