@import '../../../common/styles/sass/mixins';

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-width: 20%;
  margin-bottom: 40px;

  color: var(--text-color);

  .icon {
    transform: rotate(45deg);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 90px;
    margin-bottom: 30px;

    background-color: var(--background-secondary);

    img,
    .fontAwesomeIcon,
    .iconifyIcon {
      transform: rotate(-45deg);
      height: 80%;
      color: var(--primary-color);
    }

    .iconifyIcon {
      height: 90%;
    }
  }

  .skillInfo {
    h3 {
      @include text(var(--font-family-primary), 20px, 1.2, 700);

      margin: 0 0 5px;
      color: var(--text-color);
      letter-spacing: 1px;
    }
  }

  @media screen and (width <= 1439px) {
    flex-basis: 25%;
  }

  @media screen and (width <= 1079px) {
    flex-basis: 33%;
  }

  @media screen and (width <= 720px) {
    flex-basis: 50%;
  }

  @media screen and (width <= 352px) {
    flex-basis: 100%;
  }
}
