@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.header {
  @include flex(row, flex-end, center, nowrap);

  position: relative;
  z-index: 9999;
  right: 0;
  left: 0;

  height: 80px;
  padding: 0 30px;

  opacity: 0.9;
}
