.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);

  background-color: rgb(var(--r-bg-p) var(--g-bg-p) var(--b-bg-p) / 60%);

  .container {
    display: flex;
    justify-content: flex-end;

    @media screen and (width <= 480px) {
      justify-content: center;
    }
  }
}
