@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
@import '../common/components/button/Button.module';

.contactsBlock {
  padding: 100px 0;

  .container {
    @include container;
    @include flex(column, flex-start, center, nowrap);

    .form {
      @include flex(column, flex-start, stretch, nowrap);

      width: 540px;
      margin-top: 60px;

      .formArea {
        @include text(inherit, 12px, 1.5, 400);

        box-sizing: border-box;
        height: calc(1.5em + 0.75rem + 2px);
        margin-bottom: 1.2rem;
        padding: 0.4rem 15px;

        color: #495057;

        background: $bgSecondary;
        border: 1px solid #4a4a4a;
        outline: none;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }

        &:-webkit-autofill {
          border: 1px solid #4a4a4a;
          box-shadow: 0 0 0 1000px #252527 inset;
          transition: background-color 5000s ease-in-out 0s;

          -webkit-text-fill-color: #495057;

          &:focus {
            border: 2px solid $bgSecondary;
          }
        }
      }

      .messageArea {
        @include text(inherit, 12px, 1.5, 400);

        resize: none;

        box-sizing: border-box;
        min-height: 160px;
        margin-bottom: 1.2rem;
        padding: 15px;

        color: #495057;

        background: $bgSecondary;
        border: 1px solid #4a4a4a;
        outline: none;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .messageArea:-webkit-autofill {
        border: 1px solid #4a4a4a;
        box-shadow: 0 0 0 1000px #252527 inset;
        transition: background-color 5000s ease-in-out 0s;

        -webkit-text-fill-color: #495057;

        &:focus {
          border: 2px solid $bgSecondary;
        }
      }

      button[type='submit'] {
        @extend %btn;

        align-self: center;
        margin-top: 30px;
        background-color: transparent;
      }

      @media screen and (width <= 680px) {
        width: 100%;
      }
    }
  }
}
