.contactsBlock {
  /*min-height: 270px;*/

  background-color: darkgray;

}

.contactsContainer {
  flex-direction: column;
  justify-content: flex-start;

  min-height: 260px;
}

.title {
  background-color: #eeeef5;
}

.contactsForm {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  min-width: 288px;

  border: 1px solid;
}

.contactsForm input {
  min-width: 100%;
  margin-bottom: 5px;
}

.contactsForm textarea {
  min-width: 100%;
  min-height: 100px;
}

.contactsForm button {
  flex: 1 1 auto;

  width: 150px;
  margin: 7px auto;

  border-radius: 10px;
}