@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.nav {
  @include flex(row, space-between, stretch, nowrap);

  width: 340px;

  a {
    @include text($TitleFontFamily, 16px, 1.2, 400);

    cursor: pointer;
    color: $textColor;
    text-decoration: none;

    &:hover {
      color: $primaryColor;
    }
  }
}
