@import '../../common/styles/sass/mixins';

.nav {
  @include flex(row, space-between, stretch, nowrap);

  width: 340px;

  a {
    @include text(var(--font-family-primary), 16px, 1.2, 400);

    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      color: var(--primary-color);
    }
  }
}
