*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--text-font-family), sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
  background-color: var(--background-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}

input,
button,
select,
textarea,
optgroup,
option,
a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  all: unset;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

section {
  padding: 100px 0;
}
