:root[data-theme='dark'] {
  // text
  --text-color: #fff;
  --text-color-second: #000;

  // primary
  --primary-color: #4e93e6;

  // background
  --background-primary: #1f1f20;
  --r-bg-p: 31;
  --g-bg-p: 31;
  --b-bg-p: 32;

  --background-secondary: #252527;

  // border
  --border-color: #8f8f90;
}

:root[data-theme='light'] {
  // text
  --text-color: #000;
  --text-color-second: #fff;

  // primary
  --primary-color: #4e93e6;
  //--primary-color: #8c61ff;
  //--primary-color: #7572В5;

  // background
  --background-primary: #f9f7ff;
  --r-bg-p: 249;
  --g-bg-p: 247;
  --b-bg-p: 255;

  --background-secondary: rgb(220, 218, 224);

  // border
  --border-color: #7c7b7f;
}
