.dark-theme {
  // text
  --text-color: #fff;
  --text-color-second: #000;

  // primary
  --primary-color: #4e93e6;

  // background
  --background-primary: #1f1f20;
  --background-secondary: #252527;
}

.light-theme {
  // text
  --text-color: #000;
  --text-color-second: #fff;

  // primary
  --primary-color: #4e93e6;
  //--primary-color: #8c61ff;

  // background
  --background-primary: #f9f7ff;
  --background-secondary: #dcdae0;
}
