:root {
  /* header */
  --header-height: 60px;

  /* max-width */
  --horizontal-padding: 15px;
  --max-width: 1140px;

  /* animation */
  --transition: 0.2s ease-in-out;

  /* desktop: @media screen and (min-width: 1140px) */
  /* tablet: @media screen and (max-width: 768px) */
  /* mobile: @media screen and (max-width: 576px) */
}
