:root {
  --header-height: 60px;

  --horizontal-padding: 15px;
  --max-width: 1140px;

  --transition: 0.2s ease-in-out;

  /* desktop: @media screen and (min-width: 1140px) */
  /* tablet: @media screen and (max-width: 768px) */
  /* mobile: @media screen and (max-width: 576px) */
}
