@import '../../common/styles/sass/mixins';

.footer {
  position: relative;
  z-index: 1;

  //height: 300px;
  //min-height: 300px;
  padding: 50px 0 0;
  background-color: var(--background-primary);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .socialIcons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 400px;
      margin-top: 50px;

      @media screen and (width <= 505px) {
        width: 100%;
      }
    }

    .copyright {
      @include text(var(--text-font-family), 12px, 1.8, 400);

      margin-top: 40px;
      margin-bottom: 10px;
      opacity: 0.4;
    }
  }
}
