@import '../../common/styles/sass/mixins';

.skillsBlock {
  position: relative;
  z-index: 1;
  padding: 50px 0;
  background-color: var(--background-primary);

  .container {
    @include container;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 30px 130px;
      align-items: flex-start;
      justify-content: center;

      width: 100%;
      margin-top: 50px;

      @media screen and (width <= 1127px) {
        justify-content: center;
      }
    }
  }
}
