@import '../../styles/mixins';

.title {
  @include text($fontFamily: var(--font-family-primary), $Fmax: 36, $Fmin: 30, $fontWeight: 600);

  position: relative;

  margin-bottom: 80px;

  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.14em;

  &::before {
    content: '';

    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    width: 55px;
    height: 1px;

    background: var(--primary-color);
  }
}
