@import "../../styles/sass/variables";

.title {
  position: relative;
  margin: 0 0 30px;

  .title h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    color: $textColor;
    text-transform: capitalize;
    letter-spacing: 5px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 55px;
    height: 1px;
    background: $primaryColor;
  }
}