@import '../../styles/sass/mixins';

.title {
  @include text(var(--font-family-primary), 36px, 1.2, 300);

  position: relative;

  margin: 0 0 30px;

  text-align: center;
  text-transform: capitalize;
  letter-spacing: 5px;

  &::before {
    content: '';

    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 55px;
    height: 1px;

    background: var(--primary-color);
  }

  h2 {
    margin: 0;
  }
}
