.scrollButton {
  all: unset;

  cursor: pointer;

  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;

  box-sizing: border-box;

  .upArrowIcon {
    width: 35px;
    height: 35px;
    padding: 3px;

    color: var(--border-color);

    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 50%;

    transition: var(--transition);

    &:hover {
      transform: translateY(-4px);

      color: var(--text-color-second);

      background-color: var(--primary-color);
      border-color: var(--primary-color);

      transition: var(--transition);
    }
  }

  @media screen and (width <= 767px) {
    right: 2px;
    bottom: 2px;
  }
}
