.scrollButton {
  all: unset;

  cursor: pointer;

  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;

  box-sizing: border-box;

  .upArrowIcon {
    width: 35px;
    height: 35px;
    padding: 3px;

    opacity: 0.5;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;

    transition: opacity var(--transition);

    & path {
      fill: var(--text-color-second);
    }

    &:hover {
      opacity: 1;
      transition: opacity var(--transition);
    }
  }

  @media screen and (width <= 767px) {
    right: 2px;
    bottom: 2px;
  }
}
