@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.skillsBlock {
  padding: 50px 0;

  .container {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .someElement {
      width: 50%;
      height: 100px;
      border: 1px solid white;
      color: $textColor;
      background-color: $primaryColor;

    }

    .skills {
      @include flex(row, center, flex-start, wrap);
      width: 100%;
      margin-top: 50px;
      gap: 30px 0;

      @media screen and (max-width: 1127px) {
        justify-content: center;
      }
    }
  }
}