.btn {
  position: relative;
  z-index: 0;

  padding: 10px;

  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    width: 50%;
    height: 10px;

    background-color: var(--primary-color);

    transition: all var(--transition);
  }

  &:hover {
    &::before {
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: var(--transition);
    }
  }
}
