@import '../../../common/styles/sass/mixins';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 300px;

  .link {
    @include text(var(--font-family-primary), 16px, 1.2, 400);

    cursor: pointer;
    user-select: none;

    color: var(--text-color);
    text-decoration: none;

    transition: color var(--transition);

    &.active {
      color: var(--primary-color);
      transition: color var(--transition);
    }

    @media (width >= 767px) {
      &:hover {
        color: var(--primary-color);
        transition: color var(--transition);
      }
    }
  }
}

