@import '../../../common/styles/sass/mixins';

.nav {
  display: flex;
  gap: 30px;
  align-items: stretch;
  justify-content: space-between;

  max-width: 340px;

  .link {
    @include text(var(--font-family-primary), 16px, 1.2, 400);

    cursor: pointer;
    user-select: none;

    color: var(--text-color);
    text-decoration: none;

    transition: color var(--transition);

    &:hover,
    &.active {
      color: var(--primary-color);
      transition: color var(--transition);
    }
  }
}
