.projectsBlock {
  min-height: 100vh;

  background-color: #aaffab;
}

.projectsContainer {
  flex-direction: column;
  justify-content: flex-start;

  min-height: 100vh;
}

.title {
  background-color: #eeeef5;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  border: 1px solid;
}